.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-form button {
    padding: 10px;
    background-color: #FE980F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #FE980F;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin: 5px 0;
}
